.game-container {
  text-align: center;
}
.game-container .game-wrapper {
  display: inline-block;
  position: relative;
}
.game-container .game-wrapper table {
  background-color: #CBC1B5;
  border-collapse: collapse;
}
.game-container .game-wrapper table tr {
  margin: 0;
  padding: 0;
}
.game-container .game-wrapper table td {
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 10px ridge #B9ADA1;
  margin: 0;
  padding: 0;
}
.game-container .game-wrapper .tile {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 140px;
  height: 140px;
  background-color: #ECE4DA;
}
.game-container .game-wrapper .tile-0-0 {
  transform: translate(10px, 10px);
}
.game-container .game-wrapper .tile-0-3 {
  transform: translate(10px, 460px);
}
.game-container .game-wrapper .tile-1-2 {
  transform: translate(160px, 310px);
}
.game-container .game-wrapper .tile-3-0 {
  transform: translate(460px, 10px);
}
