<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>float</title>
    <style>
        p {
            margin: 0;
        }
    </style>
</head>
<body>
<img class="avatar" src="../img/NBA.jpg" alt="NBA" style="float: right; width: 100px;">
<img class="avatar" src="../img/zhang.jpg" alt="zhang" style="float: right; width: 100px;">
<p style="margin-right: 120px;">
    #NBA赛事回顾# 【@洛杉矶快船 117-106@多伦多猛龙 】快船队路威替补出战砍下26分7助攻，其中末节18分，哈里斯20分，哈雷尔19分5篮板，特奥15分，小乔丹9分14篮板；猛龙队七人上双，瓦兰丘纳斯16分10篮板，范弗里特16分，西亚卡姆15分6篮板，双枪和迈尔斯各11分。更多NBA精彩视频请戳
</p>

</body>
</html>