<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table-cell</title>
    <style>
        #container {
            display: table;
            width: 100%;
            height: 300px;
            border: 1px black solid;
        }
        #container > div {
            display: table-cell;
            border: 1px red solid;
            height:100px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<h2>table-cell布局</h2>
<p>
    应用1：父元素宽度固定，想让若干个子元素平分宽度. 最适合列表个数不固定的情况，就是如果4个列表，希望每个宽度25%，3个就33.3333%，2个列表希望每个宽度50%, 但是，无论列表几个，都平分容器空间。
</p>
<p>
    应用2：垂直居中
</p>
<p>
    缺点：
    （1）display: table时padding会失效
    （2）display: table-row时margin、padding同时失效
    （3）display: table-cell时margin会失效
</p>
<p>
    总结：display：table解决了一部分需要使用表格特性但又不需要表格语义的情况。
</p>

<div id="container">
    <div>adb</div>
    <div>adb</div>
    <div>adb</div>
    <div>adb</div>
    <div>adb</div>
    <div>adb</div>

</div>
</body>
</html>