<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三栏布局</title>
</head>
<body>
<div>
    <h2>两边absolute,中间margin隔开</h2>
    <div id="left" style="position: absolute;left: 0;top:0; width: 200px;height:100%;border: 1px solid black;"></div>
    <div id="main" style="margin: 0 210px; min-height:800px; border: 1px solid red;"></div>
    <div id="right" style="position: absolute;right:0;top:0; width: 200px; height:100%; border: 1px solid black;"></div>
</div>


<h2>

</h2>
</body>
</html>